/* Navbar */

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-link {
    margin-left: 20px;
}

.navbar-brand {
    font-family: 'Rubik', sans-serif;
}

.navbar .form-control {
    border-radius: 40px;
    border: none;
}

/* Jumbotron */
.jumbotron {
    background-color: #007bff;
    padding-top: 70px;
}

/* Search bar */

.container-search {
    z-index: 999;
}

.container-search .form-control {
    border: 1px solid #ffc107;
}

/* Card */
.container-card {
    margin-top: 30px;
}

.card {
    margin-bottom: 10px;
}

.card-footer .btn {
    margin-right: 7px;
    margin-bottom: 5px;
}

/* Modal */
.modal-footer {
    justify-content: flex-start;
}




/* Web responsive */

@media (min-width: 992px) {

    /* Jumbotron */
    .container-jumbo {
        width: 750px;
        position: relative;
        left: 50%;
        margin-right: -50%;
        margin-top: 50px;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .jumbotron {
        padding-top: 100px;
    }

    /* Modal */
    .modal-footer button {
        position: relative;
        left: 132px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    /* card */
    .card {
        width: 19rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    /* card */
    .card {
        width: 32rem;
    }
}

@media (min-width: 576px) {

    /* Jumbotron */
    .jumbotron {
        padding-top: 90px;
    }
}