/* Navbar */
.nav-link {
    margin-left: 20px;
}

.navbar-brand {
    font-family: 'Rubik', sans-serif;
}

.navbar .form-control {
    border-radius: 40px;
    border: none;
}

/* Jumbotron */
.jumbotron {
    background-color: #007bff;
    padding-top: 70px;
}

/* Search bar */

.container-search {
    z-index: 999;
}

.container-search .form-control {
    border: 1px solid #ffc107;
}

/* Card */
.container-card {
    margin-top: 30px;
}

.btn-add-wish {
    margin-left: 5px;
}

.card {
    margin-bottom: 10px;
}

/* Modal */
.modal-footer {
    justify-content: flex-start;
}

/* Desktop */
@media (min-width: 992px) {

    /* Navbar */

    /* Jumbotron */
    .container-jumbo {
        width: 750px;
        position: relative;
        left: 50%;
        margin-right: -50%;
        margin-top: 50px;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .jumbotron {
        padding-top: 100px;
    }

    /* Card */
    .card {
        width: 21rem;
    }

    /* Modal */
    .modal-footer button {
        position: relative;
        left: 132px;
    }
}

/* Handphone */
@media (min-width: 575px) {

    /* Jumbotron */
    .jumbotron {
        padding-top: 90px;
    }
}